<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>https://push33nxx-my.sharepoint.com/personal/admin_pishun_store/_layouts/15/download.aspx?SourceUrl=%2Fpersonal%2Fadmin%5Fpishun%5Fstore%2FDocuments%2Fipa%2FuYouPlusExtra%5F18%2E41%2E5%5F3%2E0%2E1%2Dsigned%2Eipa</string>
               </dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://phoenixpwn.com/phoenix.png</string>
				</dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>https://phoenixpwn.com/phoenix.png</string>
               </dict>
           </array><key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>com.google.ios.youtube</string>
               <key>bundle-version</key>
               <string>18.41.5</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string>YouTube</string>
               <key>title</key>
               <string>uYouPlus</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
