<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>https://objects.githubusercontent.com/github-production-release-asset-2e65be/650955083/b57d8a73-ebe7-402a-b6b3-3253d529e407?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20231029%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20231029T025553Z&X-Amz-Expires=300&X-Amz-Signature=2f4b3d2ba61c4de732db08f897e7d262e8a211fdbe482cf3584bf576bd389a37&X-Amz-SignedHeaders=host&actor_id=126584795&key_id=0&repo_id=650955083&response-content-disposition=attachment%3B%20filename%3DuYouPlusExtra_18.41.5_3.0.1-signed.ipa&response-content-type=application%2Foctet-stream</string>
               </dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://phoenixpwn.com/phoenix.png</string>
				</dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>https://phoenixpwn.com/phoenix.png</string>
               </dict>
           </array><key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>com.google.ios.youtube</string>
               <key>bundle-version</key>
               <string>18.41.5</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string>YouTube</string>
               <key>title</key>
               <string>uYouPlus</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
